
* {
    box-sizing: border-box;

}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    
}

#receptbody {
    background-color: rgb(0, 179, 0);
}

#main {
    background-color: rgb(0, 179, 0);
    margin-top: 60px;

}

#recipecontainer {
    background-color: rgb(0, 179, 0);
}

/** Banner **/

#container{
    padding-top: 50px;
}

#banner {
    background: url(images/banner.jpg);
    height: 90vh;
    width: 100%;
    margin: auto;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#banner h2 {
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: rgb(58, 161, 58);
    padding-top: 200px;
}


/** Banner ends **/






/* Navbar */

#navbar {
    display: flex;    
    background-color: #ff0000;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;

}

.bg-dark, .navbar-dark {
    background-color: rgb(146, 9, 0) !important;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding-right: 7px;
    
    

}

#navbar li a:hover {
    border-bottom: 4px solid rgba(28, 173, 154, 0.68);
    margin-bottom: -25px;
    padding-bottom: 22px;
    
    
}



#navbarlinks li {
    padding-left: 100px;
    font-size: 20px;

}

#logo {
    display: flex;
    
}

#logo img{
    display: flex;
    width: 50%;
    width: 191px;
    height: 46px;
    position: relative;

}

#userloggedin {
    padding-right: 30px;
    font-size: 90px;
}






#login {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    font-size: 10px;
    width: 100%;
}


#navbarcontainer {
    display: flex;
    width: 80%;
    margin: auto;
}

#login {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    font-size: 10px;
    width: 100%;
}

#login i {
    font-size: 35px;
    color: white;
}


/* Navbar end*/







/** Card containers **/

#cardcontainer1 {
    padding: 40px 40px 40px 40px;
    background-color: rgb(0, 179, 0);
}



.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
  }
  
  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
  }
  
  .hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
  }
  
  .hovereffect:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
    filter: grayscale(1) blur(3px);
    -webkit-filter: grayscale(1) blur(3px);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  
  .hovereffect h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    border: 1px solid #fff;
    margin: 50px 0 0 0;
    background-color: transparent;
  }
  
  .hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
  }
  
  .hovereffect a.info, .hovereffect h2 {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    opacity: 0;
    filter: alpha(opacity=0);
    color: #fff;
    text-transform: uppercase;
  }
  
  .hovereffect:hover a.info, .hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }


/** Card containers ends **/




/** Footer**/ 

#myFooter {
    background-color: rgb(146, 9, 0);
    color: white;
    padding-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#footercontainer {
    display: flex;
    justify-content: space-around;
}

#myFooter .row {
    margin-right: 0px;
}


.logofooter {
    width: 330px;
    height: 90px;
}



.social-networks {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}




#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-bottom: 0px;
}

#myFooter .social-networks a {
    font-size: 40px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .instagram:hover {
    color: #bc2a8d;
}

#myFooter .twitter:hover {
    color: #00aced;
}




/** Footer ends **/

/** Recipies **/

#navigationbar {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}




/** Recipies ends **/


/** Pepparkakor.html **/

#recipecontainer {
    padding: 150px;
    display: flex;

}

#recipemain {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 70px;
}

#recipemain p {
   
}

#ingredientlist {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 0px;
}

#ingredientlist h2{

}


#recipepicture {
    border: 2px;
}

/** Pepparkakor.html ends **/ 


/** Ingredient page **/

#main {
    text-align: center;
    padding: 10vh;
}

#main, ul {
    list-style: none;
    margin-left: -40px;
}

#receptcontainer {
    padding: 0px 310px 10px 310px
}

.card-body img {
    width: 250px;
    margin-right: 14px;
    margin-bottom: 10px;
    border-radius: 10%;
    border-style: solid;
    border-width: 3px;
}



#receptcontainer .card {
    margin-top: 40px;
}

.lastrecept {
    margin-bottom: 40px;
}

/** Ingredient page slutar **/

@media screen and (max-width:1330px) {
    #navbarcontainer{
        width: 100%;
    }

    #navbarlinks li{
        padding-left: 60px;
    }

    #receptcontainer {
        padding: 0px 40px 10px 40px;
    }

    .logofooter {
        width: 250px;
        height: 70px;
    
    }

    #logodiv {
        text-align: center;
        
    }
}

@media screen and (max-width: 996px) {



    #navbarcontainer {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: auto;
    }

    #navbar ul {
        display: flex;
        flex-direction: row;
    
    }
       
    
  
    #navbarlinks li {
        padding-left: 3px;
        padding-top: 10px;
        
    }

    .navbar-collapse, .collapse{
        position: absolute;
        flex-basis: 0;
        flex-grow: 0;
        margin-top: 49px;
        background-color: rgb(146, 9, 0);
        left: 0;
        width: 100%;
    }

    #login{
        width: 90%;
        margin: auto;
        justify-content: center;
    }


    .nav-link{
        font-size: 16px;
    }

    
#navbar li a:hover {
    border-bottom: 4px solid rgba(28, 173, 154, 0.68);
    margin-bottom: -25px;
    padding-bottom: 13px;
    
    
}



    #navigationbar{
        width: 94%;
        margin: auto;
    }

    .pagination{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .page-item{
        margin-top:10px
    }

    .logofooter {
        width: 250px;
        height: 70px;
        
    
    }

    #logodiv {
        text-align: center;
    }

    #logo img{
        width: 117px;
        height: 40px;
    
    
    }

 
  
}

@media screen and (max-width: 400px){

    .navbar-toggler {
        font-size: 0.62rem;
    }

    #navbar a {
        text-decoration: none;
        color: white;
        font-size: 12px;
    
    }

    #navbar {
        
    }

    .card-body img {
        width: 250px;
        border-radius: 10%;
        border-style: solid;
        border-width: 3px;
        display: flex;
        justify-content: center;
    }

    #receptcontainer .card {
        margin-top: 40px;
    }

    .lastrecept {
        margin-bottom: 40px;
    }
  

    .card-text {
        font-size: 12px;
    }

    .logofooter {
        width: 250px;
        height: 70px;
    
    }

    #logodiv {
        text-align: center;
       
    }

    #logo img{
        width: 117px;
        height: 40px;
    
    
    }

    


    
  
}